.gradient-surface {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      var(--surface-light),
      var(--surface-light-50) 20%,
      transparent
    );
    pointer-events: none;
  }
  &::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
  }
}
.dark {
  .gradient-surface {
    &::after {
      background: linear-gradient(
        to top,
        var(--surface-dark),
        var(--surface-dark-50) 20%,
        transparent
      );
    }
  }
}

.bottom-gradient {
  background: linear-gradient(
    to top,
    var(--surface-dark-90),
    var(--surface-dark-80) 5%,
    var(--surface-dark-70) 10%,
    var(--surface-dark-60) 15%,
    var(--surface-dark-50) 20%,
    transparent 65%
  );
  &--soft {
    background: linear-gradient(
      to top,
      var(--surface-dark-70),
      var(--surface-dark-60) 5%,
      var(--surface-dark-50) 15%,
      transparent 45%
    );
  }
}
