.light-effect {
    background: radial-gradient(
      circle,
      var(--surface-dark) 0%,
      var(--surface-dark-70) 10%,
      var(--surface-dark-10) 80%
    );
    filter: blur(10px);
    opacity: 0.1;
  }
  .dark {
    .light-effect {
      background: radial-gradient(
        circle,
        var(--surface-light) 0%,
        var(--surface-light-90) 10%,
        var(--surface-light-10) 80%
      );
      filter: blur(10px);
      opacity: 0.06;
    }
  }
  