/* HOSTAL COLORS HEX  
  #009F98 
  #E1197C
  #59578e 
  #561944 
  #F3D39E 
  #EE7934 
*/

/* HOSTAL COLORS HSL 
  hsl(177, 100%, 31%)
  hsl(330, 80%, 49%)
  hsl(318, 55%, 22%)
	hsl(37, 78%, 79%)
  hsl(22, 85%, 57%)
*/

:root {
  // Neutrals
  --neutral-10: 0 0% 98%; // #f8f8f8
  --neutral-50: 0 0% 88%; // #e0e0e0
  --neutral-100: 0 0% 82%; // #d0d0d0
  --neutral-200: 0 0% 75%; // #c0c0c0
  --neutral-400: 0 0% 67%; // #aaaaaa
  --neutral-700: 0 0% 27%; // #444444
  --neutral-900: 0 0% 13%; // #222222

    --to-transform:   #a0618d;

  // Brand & Accent
  --primary: 314 80% 71%;
  --secondary: 22 85% 57%;
  --accent: 177 100% 31%;

  --primary-inverted: 314.1 69.9% 42.9%;
  --secondary-inverted: 22.2 85.5% 45.9%;
  --accent-inverted: 177.2 100% 21%;

  // Surfaces
  --surface-1: 284 57% 99%;
  --surface-2: 284 37% 92%;
  --surface-3: 284 40% 74%; 
  --surface-inverted:280 21.1% 36%;
  // --surface-on-light: var(--surface-1);
  // --surface-on-dark: var(--surface-inverted);

  // Text
  --text: 317.8 52.9% 10%;
  --text-muted: hsla(var(--text) / 0.6);
  --text-inverted: 320 42.9% 93.1%;
  --text-on-light: 317.8 52.9% 10%;
  --text-on-dark: 320 42.9% 93.1%; 

  // Borders
  --border: var(--text);
  --border-muted: var(--text-muted);
  --border-inverted: var(--text-inverted);
  --border-on-light: var(--text-on-light);
  --border-on-dark: var(--text-on-dark);

  // Success
  --success: 122.2 39% 58.8%;
  --success-muted: 121.9 39.2% 69%;

  // Warning
  --warning: 36.2 100% 62.9%;
  --warning-muted: 35.5 100% 85.1%;

  // Error
  --error: 3.7 100% 65.1%;
  --error-muted: 4.1 100% 77.1%;

  // Info
  --info: 207.1 100% 61%;
  --info-muted: 206.9 100% 82.9%;
}

.dark {
  --primary: 314.1 69.9% 42.9%;
  --secondary: 22.2 85.5% 45.9%;
  --accent: 177.2 100% 21%;

  --primary-inverted: 310 54% 72%;
  --secondary-inverted: 22 85% 57%;
  --accent-inverted: 177 100% 31%;

  // Surfaces
  --surface-1: 280 21.1% 36%;
  --surface-2: 280 22% 47.9%;
  --surface-3: 280 25.3% 40%;
 
  // --surface-muted: 336.1 100% 32%;
  --surface-inverted: 0 100% 98%;

  // Text
  --text: 320 42.9% 93.1%; 
  --text-inverted: 318.2 54.1% 12%;
}
