/* HOSTAL COLORS HEX  
  #009F98 
  #E1197C
  #59578e 
  #561944 
  #F3D39E 
  #EE7934 
*/

/* HOSTAL COLORS HSL 
  hsl(177, 100%, 31%)
  hsl(330, 80%, 49%)
  hsl(318, 55%, 22%)
	hsl(37, 78%, 79%)
  hsl(22, 85%, 57%)
*/

:root {
  // Neutrals
  --neutral-50: 0 0% 88%; // #e0e0e0
  --neutral-100: 0 0% 82%; // #d0d0d0
  --neutral-200: 0 0% 75%; // #c0c0c0
  --neutral-400: 0 0% 67%; // #aaaaaa
  --neutral-700: 0 0% 27%; // #444444
  --neutral-900: 0 0% 13%; // #222222

  // Brand & Accent
  --primary: 314 80% 71%;
  --secondary: 22 85% 57%;
  --accent: 177 100% 31%;
  --primary-inverted: 310 54% 72%;
  --secondary-inverted: 22 85% 57%;
  --accent-inverted: 177 100% 31%;

  --to-transform: hsl(284, 54%, 60%);
  // Surfaces
  --surface-1: 277 40% 82%;
  --surface-2: 300 57% 92%;
  --surface-3: 284 25% 60%;
  --surface-muted: 7.7 100% 93.9%;
  --surface-inverted: 337.2 43.3% 13.1%;
  --surface-always-light: var(--surface-1);
  --surface-always-dark: var(--surface-inverted);

  // Text
  --text: 318.2 54.1% 12%;
  --text-muted: 318.2 54.1% 12% / 0.6;
  --text-inverted: 320 42.9% 93.1%;
  --text-always-light: 318.2 54.1% 12%;
  --text-always-dark: 320 42.9% 93.1%;

  // Borders
  --border: var(--text);
  --border-muted: var(--text-muted);
  --border-inverted: var(--text-inverted);
  --border-always-light: var(--text-always-light);
  --border-always-dark: var(--text-always-dark);

  // Success
  --success: 122.2 39% 58.8%;
  --success-muted: 121.9 39.2% 69%;

  // Warning
  --warning: 36.2 100% 62.9%;
  --warning-muted: 35.5 100% 85.1%;

  // Error
  --error: 3.7 100% 65.1%;
  --error-muted: 4.1 100% 77.1%;

  // Info
  --info: 207.1 100% 61%;
  --info-muted: 206.9 100% 82.9%;
}

.dark {
  --primary: hsl(330, 80%, 49%);
  --secondary: hsl(22, 85%, 57%);
  --accent: hsl(177, 100%, 31%);
  --primary-inverted: 310 54% 72%;
  --secondary-inverted: 22 85% 57%;
  --accent-inverted: 177 100% 31%;

  // Surfaces
  --surface-1: 337.2 43.3% 13.1%;
  --surface-2: 335.9 100% 42.9%;
  --surface-3: 242 24% 45%;
  // --surface-muted: 336.1 100% 32%;
  --surface-inverted: 0 100% 98%;

  // Text
  --text: 320 42.9% 93.1%;
  // --text-muted: 320 42.9% 93.1%;
  --text-inverted: 318.2 54.1% 12%;
}
