.light-effect {
  background: radial-gradient(
    circle,
    var(--neutral-50) 0%,
    var(--neutral-50) 50%,
    var(--neutral-50) 80%
  );
  filter: blur(10px);
  opacity: 0.1;
  animation: pulse 2s infinite ease-in-out;
}

.dark .light-effect {
  background: radial-gradient(
    circle,
    var(--neutral-900) 0%,
    var(--neutral-900) 10%,
    var(--neutral-900) 80%
  );
  filter: blur(10px);
  opacity: 0.06;
  animation: pulse 5s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
  50% {
    opacity: 0.07;
    transform: scale(1.5);
  }
}
