@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-baloo-bhaijaan-2: "Baloo Bhaijaan 2";
  --font-nunito-sans: "Nunito Sans", sans-serif;

  .rounded-standar {
    border-radius: 1.125rem;
  }

  .font-poppins,
  .font-heading {
    font-family: var(--font-poppins);
  }
  .font-baloo-bhaijaan-2,
  .font-body,
  body {
    font-family: var(--font-nunito-sans);
    text-underline-offset: 2px;
  }
}

/* HOSTAL COLORS HEX  
  #009F98 
  #E1197C 
  #561944 
  #F3D39E 
  #EE7934 
*/

/* HOSTAL COLORS HSL 
  hsl(177, 100%, 31%)
  hsl(330, 80%, 49%)
  hsl(318, 55%, 22%)
	hsl(37, 78%, 79%)
  hsl(22, 85%, 57%)
*/

:root {
  --text-light: hsl(319, 57%, 10%);
  --text-dark: hsl(319, 57%, 90%);

  --surface-light: hsl(27, 87%, 94%);
  --surface-dark: hsl(27, 87%, 6%);

  --primary-light: hsl(318, 61%, 71%);
  --primary-dark: hsl(318, 61%, 29%);

  --secondary-light: hsl(15, 64%, 28%);
  --secondary-dark: hsl(15, 64%, 72%);

  --accent-light: hsl(177, 99%, 64%);
  --accent-dark: hsl(177, 99%, 36%);

  --border-light: hsl(22, 59%, 23%);
  --border-dark: hsl(22, 85%, 67%);
}

$colors: "primary", "secondary", "surface", "accent";
$themes: "light", "dark";
$steps: (
  "10": 0.1,
  "20": 0.2,
  "30": 0.3,
  "40": 0.4,
  "50": 0.5,
  "60": 0.6,
  "70": 0.7,
  "80": 0.8,
  "90": 0.9,
  "100": 1,
  "default": 1,
);

@each $color in $colors {
  @each $theme in $themes {
    @each $step-name, $opacity in $steps {
      :root {
        --#{$color}-#{$theme}-#{$step-name}: color-mix(
          in srgb,
          var(--#{$color}-#{$theme}) calc(#{$opacity} * 100%),
          transparent
        );
      }
    }
  }
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
  font-family: var(--font-baloo-bhaijaan-2);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-poppins);
  font-weight: 600;
}

html {
  font-size: 100%;
} /* 16px */

h1,
.h1 {
  font-size: 1.99rem; /* 31.84px */
}

h2,
.h2 {
  font-size: 1.658rem; /* 26.56px */
}

h3,
.h3 {
  font-size: 1.382rem; /* 22.08px */
}

h4,
.h4 {
  font-size: 1.152rem; /* 18.4px */
}

h5,
.h5 {
  font-size: 0.96rem; /* 15.36px */
}

small,
.small {
  font-size: 0.667rem; /* 10.72px */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.hero_embla {
  overflow: hidden;
}
.hero_embla__container {
  display: flex;
}
.hero_embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center; /* Center the slides vertically if necessary */
}

.embla__container {
  display: flex;
  will-change: transform;
}

.embla__slide {
  position: relative;
  flex: 0 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: auto;
}

.no-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.hero-bg {
  --pattern-bg-color: hsl(37, 78%, 89%);
  --pattern-fg-color: hsl(330, 80%, 49%);
  background-color: #f3d39e;
  opacity: 0.6;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #f3d39e 20px
    ),
    repeating-linear-gradient(#e1197c95, #e1197c);
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  line-clamp: 3;
  overflow: hidden;
}

.section-wave {
  --mask: radial-gradient(13.79px at 50% 19.5px, #000 99%, #0000 101%)
      calc(50% - 20px) 0/40px 100%,
    radial-gradient(13.79px at 50% -9.5px, #0000 99%, #000 101%) 50% 10px/40px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
